even num or odd num

In [ ]:
n=int(input("enter tha number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter tha number22
even

Largest number amoung the three input numpers

In [ ]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3 = int(input("enter the third number"))
if (num1 >= num2) and (num1 >= num3):
  largest = num1
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
else:
  largest = num3
print("the largest number is", largest)

enter the first number23
enter the second number34
enter the third number54
the largest number is 54

Number is prime num or not prime num

In [ ]:
n=int(input("enter the number"))
count=0
for i in range(1,n+1):
    if n%i==0:
        count=count+1
if count==2:
    print("prime")
else:
    print("not prime")

enter the number24
not prime

string palindrome or not palindrome

In [ ]:
strg=input("enter the string")
if strg==strg[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter the string"mam"
palindrome

In [ ]:
def leapyear(year):
    if(year%4==0 and year%100!=0) or year%400==0:
        print("leap year")
    else:
        print("not leap year")
leapyear(2024)

leap year

Given numbers is a possitive num ,negative num or zero

In [ ]:
num=int(input("enter the number"))
if num>0:
    print("positive")
elif num<0:
    print("negative")
else:
    print("zero")

enter the number0
zero

Given letter is alphabet or not alphabet

In [ ]:
ch=input("enter the character")
if (ch>='a' and ch<='z') or (ch>='A' and ch<='Z'):
    print("alphabet")
else:
    print("not alphabet")


given num is armstrong or not aemstrong

In [ ]:
num=int(input("enter the number"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
    if num==sum:
        print("armstrong")
    else:
        print("not armstrong")