int data type conversion

In [ ]:
x=10
y=20.5
print(y)
print(type(y))
y=complex(x,y)
print(y)
print(type(y))

20.5
<class 'float'>
(10+20.5j)
<class 'complex'>

list data type conversion

In [ ]:
lst=[1,2,3,4,5]
print(lst)
print(type(lst))
lst=tuple(lst)
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
lst=[1,2,3,4,5]
print(lst)
print(type(lst))
lst=set(lst)
print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

set data type conversion

In [ ]:
x={1,2,3,4,56,67,892}
print(x)
print(type(x))
x=list(x)
print(x)
print(type(x))

{1, 2, 67, 3, 4, 56, 892}
<class 'set'>
[1, 2, 67, 3, 4, 56, 892]
<class 'list'>

In [ ]:
x = {1, 2, 34, 56, 78, 9}
print(x)
print(type(x))
x=tuple(x)
print(x)
print(type(x))

{1, 2, 34, 56, 9, 78}
<class 'set'>
(1, 2, 34, 56, 9, 78)
<class 'tuple'>

In [ ]:
x={1,3,4,5,6,7}
print(x)
print(type(x))
x = dict.fromkeys(x)
print(x)
print(type(x))

{1, 3, 4, 5, 6, 7}
<class 'set'>
{1: None, 3: None, 4: None, 5: None, 6: None, 7: None}
<class 'dict'>

Dictionry data type conversion

In [ ]:
dic={1:2,3:4,5:6}
print(dic)
print(type(dic))
dic=set(dic)
print(dic)
print(type(dic))

{1: 2, 3: 4, 5: 6}
<class 'dict'>
{1, 3, 5}
<class 'set'>

In [ ]:
dic={1:2,3:4,5:6}
print(dic)
print(type(dic))
dic = tuple(dic)
print(dic)
print(type(dic))

{1: 2, 3: 4, 5: 6}
<class 'dict'>
(1, 3, 5)
<class 'tuple'>

In [ ]:
dic={1:2,3:4,5:6}
print(dic)
print(type(dic))
dic = list(dic)
print(dic)
print(type(dic))

{1: 2, 3: 4, 5: 6}
<class 'dict'>
[1, 3, 5]
<class 'list'>