list

In [ ]:
x=list("hello python")
print(list)
print(x)

<class 'list'>
['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

set

In [ ]:
numbers=(1,2,3,4,5,6,7,8)
unique = set(numbers)
print(unique)
print(type(unique))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

tuples

In [ ]:
temp = tuple("troll greek")
print(temp)
print(type(temp))

('t', 'r', 'o', 'l', 'l', ' ', 'g', 'r', 'e', 'e', 'k')
<class 'tuple'>

Dictionary

In [ ]:
D={1:"one",2:"two",3:"three"}
print(D)
print(type(D))

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>