for loop implementation

In [ ]:
for i in range(5):
  print("troll geek")

troll geek
troll geek
troll geek
troll geek
troll geek

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

Factorial of number provided by tha user:

In [ ]:
num=int(input("Enter a number: "))
factorial=1
for i in range(1,num+1):
  factorial=factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 23
The factorial of 23 is 25852016738884976640000

programe to multipication tabel

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

programe to revers multipication tabel

In [ ]:
n=int(input("Enter a number: "))
for i in range(10,0,-1):
  print(n,"x",i,"=",n*i)

Enter a number: 2
2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

pattern printing

In [ ]:
rows=int(input("Enter the number of rows: "))
for i in range(1,rows+1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

pattern printing in revers order

In [ ]:
rows=int(input("Enter the value"))
for i in range(rows,0,-1):
  for j in range(1,i+1):
    print(j," ",end=" ")
  print("\n")

Enter the value5
1   2   3   4   5

1   2   3   4

1   2   3

1   2

1