Adding Element

In [ ]:
a={1,2,34,56,74,23}
a.add(45)
print(a)
print(type(a))

{1, 2, 34, 23, 56, 74, 45}
<class 'set'>

In [ ]:
a={1,2,3,4,5,}
a.add('1')
print(a)

{1, 2, 3, 4, 5, '1'}

Removing Element

In [ ]:
set1={1,2,3,4,5}
set1.remove(4)
print(set1)

{1, 2, 3, 5}

clear()

In [ ]:
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

Set oppretions

In [ ]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set3=set1.intersection(set2)
print(set3)

{3, 4, 5}

In [ ]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set3=set1.difference(set2)
print(set3)

{1, 2}